<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" [routerLink]="[ '/']">Onboard Web App</a>
      <button class="navbar-toggler" [ngClass]="{'collapsed': !showMenu}" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation" (click)="onClickMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{'show': showMenu}" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/login']" (click)="onClickMenu()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/getting-started']" (click)="onClickMenu()">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
