.navbar.navbar-light {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
}

.nav > li > a {
  padding: 20px 10px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-header {
  margin-top: -10px;
}

.navbar-nav .nav-link {
  color: #1ab394;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-brand {
  color: #fff!important;
  font-size: 14px;
  background: #1ab394;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0px 5px 5px;
  font-weight: 700;
}

.navbar-toggler {
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .navbar.navbar-light {
    padding: 10px;
  }

  .navbar-header {
    margin-top: 0;
  }

  .navbar-brand {
    padding: 10px;
  }

  .navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

