<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Company name, Inc.</span></strong><br />
          795 Folsom Ave, Suite 600<br />
          San Francisco, CA 94107<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam
          corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis
          ea,
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2015 Company Name</strong><br /> &nbsp;</p>
      </div>
    </div>
  </div>
</section>