<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>We create meaningful <br/> interfaces that inspire.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
            </div>
            <div class="header-back two"></div>
        </div>
    </div>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2> &nbsp;</h2>
      <p> &nbsp;</p>
      <p><a class="navy-link" href="#" role="button">  &nbsp;</a></p>
    </div>
    <div class="col-sm-3">
      <h2> &nbsp;</h2>
      <p> &nbsp;</p>
      <p><a class="navy-link" href="#" role="button">  &nbsp;</a></p>
    </div>
    <div class="col-sm-3">
      <h2> &nbsp;</h2>
      <p> &nbsp;</p>
      <p><a class="navy-link" href="#" role="button">  &nbsp;</a></p>
    </div>
    <div class="col-sm-3">
      <h2> &nbsp;</h2>
      <p> &nbsp;</p>
      <p><a class="navy-link" href="#" role="button">  &nbsp;</a></p>
    </div>
  </div>
</section>


<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Our Team</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Even more great feautres</h1>
        <p> </p>
      </div>
    </div>

  </div>

</section>

<section class="timeline gray-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Our workflow</h1>
        <p> </p>
      </div>
    </div>
  </div>

</section>

<section class="comments gray-section" style="margin-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>What our partners say</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
      </div>
    </div>
  </div>

</section>

<section id="pricing" class="pricing">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>App Pricing</h1>
        <p></p>
      </div>
    </div>
  </div>

</section>


